################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/TMM.API/bin/Debug/net7.0
/TMM.API/obj
/TMM.Database/bin/Debug/net7.0
/TMM.Database/obj
/TMM.Logic/bin/Debug/net7.0
/TMM.Logic/obj
/TMM.Tests/bin/Debug/net7.0
/TMM.Tests/obj
